#myLogin{
    background-color: rgb(225, 224, 224);
    
}

body{
    font-family: 'Shadows Into Light', cursive;
    font-size: 22px;
    font-weight: bold;
}

input{
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    margin: 20px 5px;
}

legend{
    font-family: 'Shadows Into Light', cursive;
    font-weight : bold;
    font-size: 40px;
}

.button-page{
    text-decoration: underline;
    background-color: rgb(189, 188, 188);
    font-weight: bold;
    font-size: 22px;
    margin :0 20px;
}

.button-page:hover{
    background-color:rgb(225, 224, 224);
}
